name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  schedule:
    - cron: '*/5 * * * *'
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests in parallel
        run: npx playwright test --workers=4
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 30

      - name: zip the report to local
        run: zip -r playwright-report.zip playwright-report
      - name: Send Email with Test Report
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: 'Playwright Test Report'
          to: 'rajeshkumara@nousinfo.com, smart.guye@gmail.com'
          from: 'QA Bot <${{ secrets.EMAIL_USERNAME }}>'
          secure: true
          body: |
            Hello Team,

            Please find attached the latest Playwright test execution report.

            Regards,
            Rajesh Kumar A
            Senior QA Automation
          attachments: playwright-report.zip
